In [2]:
from database import get_connection
from sql import get_table_names, query_database

In [3]:
sql = ''' select count(1) from LogQuizProd '''
df = query_database('logs', sql)
df.head()

0  1416658