In [1]:
import pandas as pd, psycopg2
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
def query_database(connection, sql, *args, **kwargs):
    if connection.get_transaction_status() == 3:
        connection.reset()
    with connection.cursor() as cursor:
        cursor.execute(sql, *args, **kwargs)
        rows = cursor.fetchall()
        columns = [d[0] for d in cursor.description]
    df = pd.DataFrame(rows, columns=columns)
    return df

In [3]:
connection = psycopg2.connect('postgres://fga@localhost/fga')

In [4]:
sql = ''' select "action" as action, count(1) from events group by 1 '''
df = query_database(connection, sql)
df.head()

                   action   count
0  APP_COMPONENT_StartApp   84701
1              APP_PAUSED  129570
2             APP_RESUMED   75827
3             APP_STARTUP   85075
4       COMPETITION_CLICK   69508

In [7]:
df

                                    action   count
0                   APP_COMPONENT_StartApp   84701
1                               APP_PAUSED  129570
2                              APP_RESUMED   75827
3                              APP_STARTUP   85075
4                        COMPETITION_CLICK   69508
5                              CONSTRUCTOR  133903
6                     FINALIZE_QUIZ_SUBMIT      17
7                     FirebaseDynamicLinks      11
8                        HeyzapAds_STARTED   36056
9                                   LOADED  456718
10                       OPEN_TutorialPage    9947
11                            PAGE_CLICKED   24076
12                           PLAY_AS_GUEST   29772
13                       REGISTER_AS_GUEST   13166
14                              START_QUIZ   88717
15                            SUMMARY_QUIZ   21525
16                    Social_Share_Clicked       4
17                   Social_Share_Submited       2
18                        TUTORIAL_DISMISS    8154
19                             UPTADE_USER    2947
20  registerHeyzapAds.IncentivizedAd.fetch     133
21  registerHeyzapAds_IncentivizedAd_fetch   35309
22           showRewardVideoAd.adMob.fetch      27
23            showRewardVideoAd.adMob.show      27
24           showRewardVideoAd_adMob_fetch       8
25            showRewardVideoAd_adMob_show       8

In [6]:
df[df['action'].str.contains('jackpot')]

Empty DataFrame
Columns: [action, count]
Index: []