In [1]:
from database import get_connection

In [2]:
from sql import get_table_names, query_database

## users

In [3]:
users_connection = get_connection('users')
df_users_tables = get_table_names(users_connection)
print('{} tables'.format(len(df_users_tables)))
df_users_tables.head()

53 tables

                name
35       AspNetRoles
43  AspNetUserClaims
44  AspNetUserLogins
38   AspNetUserRoles
41       AspNetUsers

In [4]:
table_names = {
    'user_devices': 'FGAUserDevices',
    'user_preferences': 'FGAUserPreferences',
    'user_profiles': 'FGAUserProfiles',
    'user_settings': 'FGAUserSettings',
    'users': 'FGAUsers',
}

In [5]:
import pyodbc

In [6]:
sql = '''select top 10 * from {}'''.format(table_names['users'])
try:
    df = query_database(users_connection, sql)
except pyodbc.ProgrammingError as e:
    print(e)
    print(dir(e))
    print(e.args)
# df.head()

('ODBC SQL type -155 is not yet supported.  column-index=9  type=-155', 'HY106')
['__cause__', '__class__', '__context__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__', '__suppress_context__', '__traceback__', '__weakref__', 'args', 'with_traceback']
('ODBC SQL type -155 is not yet supported.  column-index=9  type=-155', 'HY106')

In [14]:
connection = get_connection('users')
cursor = connection.cursor()
sql = '''select top 10 * from FGAUserDevices'''
cursor.execute(sql)
print('cursor.description:', cursor.description)
# print(cursor.description[10])
# x = cursor.description[10]

cursor.description: (('Id', <class 'str'>, None, 128, 128, 0, False), ('DeviceId', <class 'str'>, None, 0, 0, 0, True), ('DeviceName', <class 'str'>, None, 0, 0, 0, True), ('DeviceMan', <class 'str'>, None, 0, 0, 0, True), ('DeviceOS', <class 'str'>, None, 0, 0, 0, True), ('DeviceOSVer', <class 'str'>, None, 0, 0, 0, True), ('AppVersion', <class 'str'>, None, 0, 0, 0, True), ('UserID', <class 'str'>, None, 128, 128, 0, True), ('UserProfileID', <class 'str'>, None, 128, 128, 0, True), ('Version', <class 'bytearray'>, None, 8, 8, 0, False), ('CreatedAt', <class 'bytearray'>, None, 34, 34, 7, False), ('UpdatedAt', <class 'bytearray'>, None, 34, 34, 7, True), ('Deleted', <class 'bool'>, None, 1, 1, 0, False), ('DeviceSerial', <class 'str'>, None, 0, 0, 0, True), ('DeviceIsVirtual', <class 'bool'>, None, 1, 1, 0, False), ('DeviceUDID', <class 'str'>, None, 0, 0, 0, True), ('OtherID1', <class 'str'>, None, 0, 0, 0, True), ('OtherID1Previous', <class 'str'>, None, 0, 0, 0, True), ('SimDeviceId', <class 'str'>, None, 0, 0, 0, True))

In [8]:
# x[1]

In [9]:
# bytearray

In [32]:
connection = get_connection('users')
sql = '''
select top 10 
    Id, 
    DeviceId, 
    DeviceName, 
    DeviceMan, 
    DeviceOS, 
    DeviceOSVer, 
    AppVersion, 
    UserID, 
    UserProfileID,
    Version,
    --CreatedAt,
    --UpdatedAt,
    Deleted,
    DeviceSerial,
    DeviceIsVirtual,
    DeviceUDID,
    OtherID1,
    OtherID1Previous,
    SimDeviceId
    
from FGAUserDevices
'''
df = query_database(connection, sql)
df.head()

,Id,DeviceId,DeviceName,DeviceMan,DeviceOS,DeviceOSVer,AppVersion,UserID,UserProfileID,Version,Deleted,DeviceSerial,DeviceIsVirtual,DeviceUDID,OtherID1,OtherID1Previous,SimDeviceId
0,5FFC68A4-B539-4652-85FD-C062F96B2F6C,6daac5cb0706b620,Gemini Pro,Ulefone,Android,7.1.1,WEB_BROWSERx,D038FF0A-7930-44D9-9B90-3B1D4B01B653,EDFFC601-0C87-40B4-9AB0-A55B4D654AAE,b'\x00\x00\x00\x00\x00u\x1e\xc2',False,None,False,unknown,b65b676bc8d3e1e383704e97e7d812d1,b65b676bc8d3e1e383704e97e7d812d1,unknown
1,07E923A7-2F91-4F27-931B-675162C31881,a907b79f3bc2d8b8,Nexus 5X,LGE,Android,8.1.0,0.9.1,3876B0EB-D7AB-4FF0-B2C6-3071EE7E3185,35842A1B-C1C8-4A6D-8077-8D5AB72D84F3,b'\x00\x00\x00\x00\x00\x00T1',False,None,False,None,None,None,None
2,E44CF7F4-FF2C-4AE3-BCAA-FF0ECC51AB74,000000000000000011,SM-G920F,samsung,Android,7.0,0.9.1,431B96BA-33C0-4CE0-AE52-83426516F4BB,F03CE291-1AD2-42EE-9070-C38BB2A91C03,b'\x00\x00\x00\x00\x00qN\xe9',False,None,False,None,None,None,None
3,B81614A3-1102-4DA8-B57F-341BBCFE7CE3,42ac18025c7c4b85,A0001,OnePlus,Android,6.0.1,0.9.1,A7E162D3-6983-45CB-898D-A97CF86D4053,CB492FB3-168F-47BD-BC7A-1A4DE6366C96,b'\x00\x00\x00\x00\x00\x00Vv',False,None,False,None,None,None,None
4,1F81EEDF-D6FA-400D-B280-65498E2D1E9F,1bb88d070b2f3e90,WAS-LX1A,HUAWEI,Android,7.0,0.9.1,70BC4E78-C564-450D-BD2B-F4FC27B4DE06,CE563208-2F79-48E4-9DED-F158BC85FB51,b'\x00\x00\x00\x00\x00\x00V\xa6',False,None,False,None,None,None,None

In [11]:
# connection = get_connection('users')
# cursor = connection.cursor()
# table_name = 'FGAUserDevices'
# sql = '''
# SELECT 
#     c.name 'Column Name',
#     t.Name 'Data type',
#     c.max_length 'Max Length',
#     c.precision ,
#     c.scale ,
#     c.is_nullable,
#     ISNULL(i.is_primary_key, 0) 'Primary Key'
# FROM    
#     sys.columns c
# INNER JOIN 
#     sys.types t ON c.user_type_id = t.user_type_id
# LEFT OUTER JOIN 
#     sys.index_columns ic ON ic.object_id = c.object_id AND ic.column_id = c.column_id
# LEFT OUTER JOIN 
#     sys.indexes i ON ic.object_id = i.object_id AND ic.index_id = i.index_id
# WHERE
#     c.object_id = OBJECT_ID('{}')
# '''.format(table_name)
# cursor.execute(sql)
# rows = cursor.fetchall()
# print('rows:', rows)

## logs

In [8]:
logs_connection = get_connection('logs')
df_logs_tables = get_table_names(logs_connection)
print('{} tables'.format(len(df_logs_tables)))
df_logs_tables.head()

33 tables

                name
13            AWBDBU
15         AppConfig
21       AspNetRoles
25  AspNetUserClaims
27  AspNetUserLogins

## quiz_games

In [9]:
quiz_games_connection = get_connection('quiz_games')
df_quiz_games_tables = get_table_names(quiz_games_connection)
print('{} tables'.format(len(df_quiz_games_tables)))
df_quiz_games_tables.head()

99 tables

                              name
5                AggregatedCounter
35                  AllLogAppEvent
91                          Cities
22              CompetitionsManual
45  CorrectAnswersToFanCoinMapping